@{
    ViewData["Title"] = @Translation.EMAIL;
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        @Translation.THANK_YOU_FOR_CONFIRMING_YOUR_EMAIL <a asp-controller="Account" asp-action="Login">@Translation.CLICK_HERE_TO_LOG_IN</a>.
    </p>
</div>
