@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@Translation.LOCKED_OUT.</h1>
    <p class="text-danger">@Translation.THIS_ACCOUNT_HAS_BEEN_LOCKED_OUT_P_PLEASE_TRY_AGAIN_LATER.</p>
</header>
