@{
    ViewData["Title"] = Translation.RESET_PASSWORD_CONFIRMATION;
}

<h1>@ViewData["Title"].</h1>
<p>
    @Translation.YOUR_PASSWORD_HAS_BEEN_RESET. <a asp-controller="Account" asp-action="Login">@Translation.CLICK_HERE_TO_LOG_IN</a>.
</p>
