@model BodyReport.Areas.Report.ViewModels.UserReport.NewUserAccountCreatedViewModel
@using BodyReport.Framework
@using System.Globalization
@using Microsoft.AspNetCore.Http

@{
/*take at : https://github.com/leemunroe/responsive-html-email-template/blob/master/email.html */
ViewData["Title"] = Translation.CREATE_NEW_ACCOUNT;
Layout = "_MailingReportLayout";
}

<table border="0" cellpadding="0" cellspacing="0" class="body">
<tr>
    <td>&nbsp;</td>
    <td class="container">
        <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <table class="main">

                <!-- START MAIN CONTENT AREA -->
                <tr>
                    <td class="wrapper">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <p>Un nouvel utilisateur a été créé</p>
                                    <p>Id utilisateur : @Model.UserId</p>
                                    <p>Pseudo : @Model.UserName</p>
                                    <p>Email : @Model.UserEmail</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- END MAIN CONTENT AREA -->
            </table>
        </div>
    </td>
    <td>&nbsp;</td>
</tr>
</table>


