@using Microsoft.AspNetCore.Identity
@using BodyReport.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form  asp-route-area="Site" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-route-area="Site" asp-controller="Manage" asp-action="Index" title="Manage">@Translation.HELLO @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-route-area="Site" asp-controller="Account" asp-action="Register">@Translation.REGISTER</a></li>
        <li><a asp-route-area="Site" asp-controller="Account" asp-action="Login">@Translation.LOG_IN</a></li>
    </ul>
}
