@model CopyTrainingWeekViewModel

@{
    string weightUnit = "kg", lengthUnit = "cm", unit = Translation.METRIC;

    if (ViewBag.UserUnit == (int)TUnitType.Imperial)
    {
        weightUnit = Translation.POUND;
        lengthUnit = Translation.INCH;
        unit = Translation.IMPERIAL;
    }
}

<h2>@Translation.TRAINING_WEEK. </h2>

<form asp-route-area="User" asp-controller="TrainingJournal" asp-action="Copy" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
    <h4>@Translation.COPY.</h4>
    <hr />

    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <input asp-for="UserId" hidden="hidden" />
    <p><u>Origin training week</u></p>
    <div class="form-group">
        <label asp-for="OriginYear" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="OriginYear" class="form-control" readonly="readonly" type="text" />
            <span asp-validation-for="OriginYear" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="OriginWeekOfYear" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="OriginWeekOfYear" class="form-control" readonly="readonly" type="text"/>
            <span asp-validation-for="OriginWeekOfYear" class="text-danger"></span>
        </div>
    </div>

    <hr />
   <p><u>New training week</u></p>
    <div class="form-group">
        <label asp-for="Year" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Year" class="form-control" type="text" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="WeekOfYear" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="WeekOfYear" class="form-control" type="number" min="1" max="52" />
            <span asp-validation-for="WeekOfYear" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">@Translation.COPY</button>
        </div>
    </div>
</form>